# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Cache
.cache
.vite
.turbo

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Package manager
package-lock.json
pnpm-lock.yaml
yarn.lock
